@import "01-tools.scss";
/*

Designed pieces of UI.
Still only using classes.
More explicitly named
(e.g. .products-list {}).

*/

$mobile: "only screen and (max-width: 767px)";
$tablet: "only screen and (min-width: 768px) and (max-width: 1024px)";
$laptop: "only screen and (min-width: 1024px) and (max-width: 1440px)";
$groc: #e2b606;
$vermell: #ff464d;
$negre: #484848;
$blanc: #ffffff;
$fosc: #21262f;

@mixin grid-col {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 30px;
  max-width: 930px;
  padding: 0px;
  margin: 0 auto;
  position: relative;

  @media #{$mobile} {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
}

/* Reset - Elements principal */
img{
    max-width: 100%;
}

section img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* */

body{
    font-family: 'Inter', sans-serif;
    margin: 0;
}


header{
    background: linear-gradient(90deg, #F3526B 0%, #F5D357 100%);
    position: relative;
    .redes_sociales{
        li{
            display: flex;
            margin: 10px;
        }
    }
    .cabecera{
        padding-bottom: 100px;
        padding-top: 50px;
        position: relative;
        max-width: 930px;
        margin: 0 auto;
        display: flex;
        @media #{$mobile} {
            height: auto;
            display: block;
            margin-left: 20px;
        }
        .logo{
            @media #{$mobile} {
                margin-top: 70px;
                width: 100%;
                max-width: 175px;
                height: 30px;
                
            
            }
            position: relative;
        }
        .texto-logo{
            @media #{$mobile} {
                width: 130px;
                font-size: 10px;
                margin-top: 10px;
                text-align: left;
                padding: 0px;
                position: absolute;
                
             
            }
            margin-top: 0px;
            padding-left: 10px;
            display: flex;
            text-align: left;
            font-size: 16.8889px;
            line-height: 110%;
            max-width: 200px;

            /* or 19px */

            letter-spacing: -0.02em;
            color: #FFFFFF;
        }
        div.imgMenu{
            display: none;
            @media #{$mobile} {
                display: inline-block;
                margin-left: 150px;
            }
        }
        @media #{$mobile} {
            max-width: 430px;
            height: 300px;
            padding: 30px;
        }
    }

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        li a{
            color: white;
        }
    }
}
    section{
        margin: 0 auto;
        max-width: 930px;
        width: 100%;
        &.novedades{
            color: white;
            display: flex;
            margin-top: 6%;
            flex-direction: row;
            @media #{$mobile} {
              display: flex;
              flex-direction: column;
              padding: 0px;
              padding: 30px;
            }
            figure{
                margin: 0;
                flex-basis: 57%;
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .textos_foto{
            padding: 13px;
            flex-basis: 43%;
            background-color: #F3526B;
            .texto_novedad2{
                padding-right: 30px;
                font-size: 28px;
                font-weight: bold;
            }
        }
    }
    section.informacion{
        padding-top: 130px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media #{$mobile} {
            display: flex;
            flex-direction: column;
            padding: 0px;
            padding: 30px;
          }
        h1{
            font-size: 49px;
            color: #F3526B;
        }

        p{
            padding-top: 45px;
            width: 80%;
        }
    }
    section.bloques{
        @media #{$mobile} {
            display: flex;
            flex-direction: column;
            padding: 0px;
            padding: 30px;
          }
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 100px;
        .bloque{
            width: 290px;
            h3{
                font-size: 25px;
            }
        }
    }
    .dropbtn {
        background: transparent;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        font-family: 'Inter', sans-serif;
        position: relative;
        display: inline-block;
        padding-right: 10px;
        padding: 10px;
    }
    .dropdowns{
        width: 100%;
        max-width: 950px;
        margin: 0 auto;
        @media #{$mobile} {
            display: none;
        }
    }
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        padding: 0px;
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;

        a{
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;

            &:hover{
                background-color: #F3526B;
                color: white;
            }
        }
    }
    .dropdown:hover {
        .dropdown-content {
          display: block;
        }
      
        .dropbtn {
          background-color: transparent;
        }
      }
    .know_more{
        @media #{$mobile} {
            margin-left: 35%;
        }
        border-radius: 50px;
        color: white;
        margin: auto;
        width: 100%;
        max-width: 150px;
        margin-left: 45%;
        font-size: 20px;
        background-color:  #F3526B;
        background-size: 10%;
        border: 0px;
        padding: 15px;
        margin-bottom: 100px;
    }
    footer{
        color: white;
        background: #F3526B;
        position: relative;
        width: 100%;
        left: 0px;
        top: 0px;
        padding-bottom: 50px;
        padding-bottom: 200px;
        .texto_footer{
            position: relative;
            top: 80px;
            padding-top: 25px;
            width: 100%;
            flex-direction: revert;
            justify-content: unset;
            align-items: inherit;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-column-gap: 30px;
            max-width: 930px;
            padding: 0px;
            margin: 0 auto;
            @media #{$mobile} {
                display: flex;
                flex-direction: column;
                padding: 40px;
            }
            div.bandera{
                grid-column: 1 / 8;
                .texto_flex{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    p{
                        padding-left: 10px;
                    }
                }
                .footer_links a{
                    padding-right: 15px;
                }
            }
            div.logo{
                grid-column: 10 / 13;
                .redes_sociales{
                    display: flex;
                    li{
                        display: flex;
                        margin: 10px;
                    }
                }
            }
        }   
}