header{
    background: linear-gradient(90deg, #F3526B 0%, #F5D357 100%);
    position: relative;
    width: 100%;
    height: 344px;
    left: 0px;
    top: 0px;
}
body{
    font-family: 'Inter', sans-serif;
    margin: 0;
}
.instagram{
    content: url('assets/img/instagram-1.svg');
}
.youtube{
    content: url('assets/img/youtube.svg');
}
li{
    padding-right: 10px;
    padding: 10px;
    padding-left: 25px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.cabecera{
    position: relative;
    height: 52px;
    padding-left: 25%;
    top: 80px;
    padding-bottom: 25px;
    padding-top: 25px;
    margin-left: 0%;

}
.logo{

    position: relative;
}
.texto-logo{
    text-align: justify;
    margin-bottom: 100px;
    vertical-align: top;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16.8889px;
    line-height: 110%;
    /* or 19px */

    letter-spacing: -0.02em;
    font-feature-settings: 'ss02' on;

    color: #FFFFFF;
}
.menus{
    color: white;
    position: absolute;
    top: 299px;
    margin-left: 23.5%;
    padding-right: 50px;
}
.menus li{
    padding-right: 50px;
}
footer{
    margin: 0px;
    position: relative;
    width: 100%;
    height: 505px;
    left: 0px;
    top: 1548px;
    color: #FFFFFF;
    /* Primary */

    background: #F3526B;
}
.europe_logo{
    position: relative;
    left: 15%;
    right: 1.9%;
    top: 34%;
    bottom: 2.85%;

    background: #164194;
}
.european_text{
    position: relative;
    width: 383px;
    height: 72px;
    left: 20%;
    top:160px;
    font-size: 16px;
    line-height: 150%;
}
.european_text2{
    position: relative;
    width: 528px;
    height: 84px;
    left: 15%;
    top: 250px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */
}
.links_footer{
    position: relative;
    width: 669px;
    height: 24px;
    left: 14%;
    top: 340px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    text-decoration-line: underline;
}
ul li a{
    color: white;
}
section{
    height: auto;
    max-width: 930px;
    width: 100% auto;
    margin-bottom: 25px;
}
.novedades{
    color: white;
    display: flex;
    margin-top: 6%;
    background-color: #F3526B;
}

.textos_foto{
    margin: 0;
}
.texto_novedad{
    padding-left: 30px;
}
.texto_novedad2{
    font-size: 28px;
    font-weight: bold;
}
.informacion{
    font-size: 30px;
    color: #F3526B;
}
